.mat-toolbar-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-decoration: none;
    background-color: red;
}
.logo {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.menu-links {  
    color: white;
    font-family: sans-serif;
}
